<%= render :partial => 'shared/errors', :locals => {:object => @artist} %>

<%= form_for @artist do |f| %> 
<div class="form_ui">
     <div class = 'field'>
     	<%= f.label :name %>
         <div class ="clear">
         </div>
     	<%= f.text_field :name %>
     </div>
     <div class = 'field'>
     	<%= f.label :photo %><br>
	    <%= f.file_field :photo %>
	    <%= f.hidden_field :photo_cache %>
          <div class ="clear">
         </div>
	    <%= f.text_field :remote_photo_url %>
     </div>
   
     <div class = 'field'>
     	<%= f.submit %>
     </div>
</div>
<% end %>

<br>
