
<h1>Artists</h1>


 <div class ="clear">
	</div>

<% @artists.each do |artist| %>
    <div class = "element_box">
        <%= artist.name %>
         <div class ="clear">
    	</div>
        <%= image_tag artist.photo %>
         <div class ="clear">
    	</div>
        <%= link_to 'Show', artist %>
        <div class ="clear">
        </div>
        <%= link_to 'Edit', edit_artist_path(artist) %>
        <div class ="clear">
        </div>
        <%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
        <div class ="clear">
        </div>
    </div>
<% end %>


