<<<<<<< HEAD
<h1>Listing artists</h1>
=======
<h1>Artists</h1>
>>>>>>> ea15c76d6945307744fb63be60e402eccfd0d686

Name
Photo

<% @artists.each do |artist| %>
  <tr>
    <td><%= artist.name %></td>
    <td><%= image_tag artist.photo %></td>
    <td><%= link_to 'Show', artist %></td>
    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
</table>

<br />

<%= link_to 'New artist', new_artist_path %>
