<h1 class="category_header">Artists</h1>

<% @artists.each do |artist| %>
    <div class="element_box">
        <div class="artist_name"><%= artist.name %></div>
        <%= image_tag artist.photo %>
        <%= link_to 'Show', artist %>
        <%= link_to 'Edit', edit_artist_path(artist) %>
        <%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
    <div class="clear"></div>
    </div><!-- .element_box -->
<% end %>


