
<p class="show_title" > <%= @artist.name %> </p>
<%= image_tag @artist.photo, :class => "show_photo"  %>

<div class="backpage"><< <%= link_to 'Back', artists_path %></div><!-- .back -->

<h2>Albums:</h2>
  <ul class="list">
  	<% @artist.albums.each do |album| %>
    <li><%= link_to album.name, album %></li>
  	<% end %>
  </ul>
   <div class="clear"></div>

   <div class="edit_button"><%= link_to 'Edit', edit_artist_path(@artist) %></div><!-- .edit_button -->
<div class ="clear"></div>





