<p> <%= @artist.name %> </p>
<p><%= image_tag @artist.photo %></p>

<h2>Albums:</h2>
  <ul class="list">
  <% @artist.albums.each do |album| %>
    <li><%= link_to album.name, album %></li>
  <% end %>
  </ul>
  


<div class ="clear">
</div>
	<%= link_to 'Edit', edit_artist_path(@artist) %> 
<div class ="clear">
</div>
<%= link_to 'Back', artists_path %>





