<div class="backpage"><< <%= link_to 'Back', artists_path %></div><!-- .back -->
<div class="show_name"><%= @artist.name %></div><!-- .show_title -->
<div class="show_photo"><%= image_tag @artist.photo %></div><!-- .show_photo -->
<div class="edit_button"><%= link_to 'Edit', edit_artist_path(@artist) %></div><!-- .edit_button -->
<div class ="clear"></div>

<h2>Albums:</h2>
  <ul class="list">
  	<% @artist.albums.each do |album| %>
    <li><%= link_to album.name, album %></li>
  	<% end %>
  </ul>
   <div class="clear"></div>





