<%= form_for(@song, :html => {:multipart => true}) do |f| %>

<%= render :partial => 'shared/errors', :locals => {:object => @song} %>

<%= form_for @song do |f| %>
<div class="form_ui"> 
     <div class = 'field'>
     	<%= f.label :name %>
         <div class ="clear">
         </div>
     	<%= f.text_field :name %>
     </div>
      <div class="field">
        <%= f.label :song %><br />
        <%= f.file_field :song %>
      </div>

     <div class = 'field'>
     	<%= f.label :photo %>
         <div class ="clear">
         </div>
	    <%= f.file_field :photo %>
         <div class ="clear">
         </div>
	    <%= f.hidden_field :photo_cache %>
         <div class ="clear">
         </div>
	    <%= f.text_field :remote_photo_url, placeholder: "Insert URL" %>
         <div class ="clear">
         </div>

        <div class="youtube">
            <%= f.label :youtube %><br />
            <%= f.text_field :youtube %>
         </div>

         <%= f.label :artist_id %>
         <div class ="clear">
         </div>
        <%= f.select :artist_id, Artist.all.map{|r| [r.name, r.id]} %>
        <div class ="clear">
         </div>

        <%= f.label :album_id %>
        <div class ="clear">
         </div>
         <%= f.select :album_id, Album.all.map{|r| [r.name, r.id]} %>
         <div class ="clear">
         </div>

     </div>

     
     <div class = 'field'>
     	<%= f.submit %>
     </div>
</div>     
<% end %>
<% end %>
