<h1>Songs</h1>

Name
Photo

<div class ="clear">
	</div>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
    <div class ="clear">
	</div>
	
    <td><%= image_tag song.photo %></td>

    <div class ="clear">
	</div>

    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>