
<p><%= @song.name %></p>
<p><%= image_tag @song.photo %></p>

  <p>Artist: <%= link_to @song.artist.name, @song.artist %></p>
  <p>Album: <%= link_to @song.album.name, @song.album %></p>


<%= link_to 'Edit', edit_song_path(@song) %> |	
<%= link_to 'Back', songs_path %>