<p class="show_title" > <%= @song.name %> </p>

<%= image_tag @song.photo, :class => "show_photo"  %>
<<<<<<< HEAD
<div class="backpage"><%= link_to 'Back', songs_path %></div><!-- .back -->
=======
<div class="backpage"><< <%= link_to 'Back', songs_path %></div><!-- .back -->
>>>>>>> a291678433d109f4d3f03be90cd34b7da96e2d80
<div class="clear"></div>
<div class="artist_album">
 <p>Album: <%= link_to @song.album.name, @song.album %></p>
 <p>Song: <%= audio_tag @song.song, :controls => true %></p>
</div><!-- .artist_album -->

 <p>Youtube:</p> 
 	<%= render :partial => 'shared/youtube', :locals => {:youtube => @song.youtube} %>
<div class="clear"></div>
<div class="edit_button"><%= link_to 'Edit', edit_song_path(@song) %></div><!-- .edit_button -->


