<%= form_for @album do |f| %> 
     <div class = 'field'>
      <%= f.label :name %>
      <%= f.text_field :name %>
     </div>
     <div class = 'field'>
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
      <%= f.hidden_field :photo_cache %>
      <%= f.text_field :remote_photo_url %>
      <%= image_tag(@album.photo_url) if @album.photo? %>

     </div>
     
     <div class = 'field'>
      <%= f.submit %>
     </div>
     <div class ="clear">
  </div>
<% end %>

<br>
