<h1>Albums</h1>

    

    <div class ="clear">
  </div>
    

<% @albums.each do |album| %>
  <tr>
    <p>Album: <%= album.name %> </p>

    <div class ="clear">
    </div>

    <p>Photo</p>

    <td><%= image_tag album.photo %></td>

    <div class ="clear">
     </div>

    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New album', new_album_path %>