<h1 class="category_header">Albums</h1>

<% @albums.each do |album| %>
  <div class="element_box">
      <div class="album_name"><%= album.name %></div><!-- .album_name -->
      <%= image_tag album.photo %>
      <%= link_to 'Show', album %>
      <%= link_to 'Edit', edit_album_path(album) %>
      <%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %>
      <div class ="clear"></div>
    </div><!-- .element_box -->
<% end %>