<h1>Albums</h1>


 <div class ="clear">
  </div>

<% @albums.each do |album| %>
  <div class = "element_box">
      <%= album.name %>
       <div class ="clear">
      </div>
      <%= image_tag album.photo %>
       <div class ="clear">
       </div>
      <%= link_to 'Show', album %>
      <div class ="clear">
      </div>
      <%= link_to 'Edit', edit_album_path(album) %>
      <div class ="clear">
      </div>
      <%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' } %>
      <div class ="clear">
      </div>
    </div>
<% end %>