<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<div class ="clear">
	</div>

<p>
  <b>Photo:</b>

  <div class ="clear">
	</div>
  <%= image_tag @album.photo %>
</p>

<div class ="clear">
	</div>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>