<p class="show_title" > <%= @album.name %> </p>
<%= image_tag @album.photo, :class => "show_photo"  %>

<div class="backpage"><< <%= link_to 'Back', albums_path %></div><!-- .back -->
<div class ="clear"></div>

<h2>Songs:</h2>
  <ul class="list">
 	 <% @album.songs.each do |song| %>
   <li><%= link_to song.name, song  %></li>
  <% end %>
  </ul>
 <div class="clear"></div>

 <div class="edit_button"><%= link_to 'Edit', edit_album_path(@album) %></div><!-- .edit_button -->


